.App {
  text-align: center;
}


.flex-container {
  display: flex;
  justify-content: center;
  background-color: rgb(49, 47, 47);
  
}



.flex-item {
  justify-content: start;
  width: 500px;
  flex-basis: 100%;
}

.flex-item img {
  height: 100%;
	width: 100%;
} 

@media all and (max-width: 500px) {
.flex-container {
    
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(49, 47, 47);
    
  }

  .flex-item {
    
    justify-content: start;
    width: 381px;
    flex-basis: 100%;
  }
}